@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --light-color: #FAD074;
    --primary-color: #FF6933;
    --accent-color: #FFA570;
}


body{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    background-color: #FDFDFD;
}

a{
    text-decoration: none;
    color:#111;
}

.detail-a{    
    text-decoration: none;
    color: blue;
}

.detail-a:hover{
    color: var(--primary-color);
}

.detail-desc{
    font-size: 14px;
    color:rgb(93, 90, 90);
}

main{
    min-height: 62.1vh;
}

.nav-link:hover{
    font-size: 16px;
    color: #fff;
}

.book_item{
    overflow: hidden;
    font-size: .9rem;
    border-radius: 15px;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 2px 3px 5px -2px rgba(146, 146, 146, 0.2);
    transition: .3s;
}

.book_item:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.author-title{
    color:rgb(243, 147, 64);
}

.book_item .link a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #444;
}



.on-heart-hover{
    text-decoration: none;
    color: #111
}

.on-heart-hover:hover{
    color: red;
}

.button-outline{
    border: 2px solid var(--accent-color);
    padding: 10px 10px;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent;
    transition: .3s;
}

.button-outline:hover{
    color: #111;
    background-color: var(--accent-color);
}

.sidebar{
    border: 1px solid rgba(10, 10, 10, 0.2);
    padding: 20px;
    min-height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.search-form input{
    border: 1px solid var(--accent-color);
    padding: 5px 15px;
    width: 100%;
    display: block;
}

.search-form input:focus{
    outline: none;
}

.search-form button{
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: bold;
    color: #fff;
}

.title-genre{
    padding: 8px;

}

.title-genre:hover{
    transform: translateY(-2px);
    -webkit-box-shadow: 1px 1px 20px -1px rgba(255, 165, 112, 0.2);
    -moz-box-shadow: 1px 1px 20px -1px rgba(255, 165, 112, 0.2);
    box-shadow: 1px 1px 20px -1px rgba(255, 165, 112, 0.2);
}

.text-success i{
    color:#FF6933;
}

.item-genre a{
    color: black;
    text-decoration: none;
    padding-left: 5px;
    transition: .1s;
}

.item-genre a:hover{
    color: blue;
    padding-left: 10px;
    font-size: 16px;
}

.primary-color{
    color: var(--primary-color);
}


.primary-background{
    background-color: var(--primary-color);
}

.accent-color{
    color: var(--accent-color);
}

.accent-background{
    background-color: var(--accent-color);
}

.light-color{
    color: var(--light-color);
}

.light-background{
    background-color: var(--light-color);
}

a.nav-link {
    border: 0.2px solid transparent;
}

.navbar-light a.nav-link{
    color: #111 !important;
    transition: .3s;
}

.navbar-light a.nav-link:hover{
    border: .2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px  5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    color: #111 !important;
}

.controls{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.controls a{
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 10px 15px;
    transition: .25s;
}

.controls a:hover{
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 33px 11px rgba(0, 144, 255, 0.2);
    -moz-box-shadow: 0px 0px 33px 11px rgba(0, 144, 255, 0.2);
    box-shadow: 0px 0px 33px 11px rgba(0, 144, 255, 0.2);
}

hr{
    border-top: 1px solid #FF6933;
}

.detail-book{
    width: 280px;
}

.card-login{
    padding: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 20px 3px rgba(255, 165, 112, 0.22);
    -moz-box-shadow: 1px 1px 20px 3px rgba(255, 165, 112, 0.22);
    box-shadow: 1px 1px 20px 3px rgba(255, 165, 112, 0.22); 
}

.login-text{
    color:#FFA570;
}